<!DOCTYPE html>
<html>
<head>
    <title>Cloud Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Welcome, {{ user_name }}!</h1>
        <p>System Status: <strong>Online</strong></p>
        
        <div class="status-box">
            SERVER TIME (IST)<br>
            {{ server_time }}
        </div>

        <div class="status-box" style="margin-top: 15px; border-color: #58a6ff; color: #58a6ff;">
            SYSTEM VITAL SIGNS<br>
            CPU: {{cpu}}% | RAM: {{mem}}%
        </div>

        <div class="footer">
            Powered by Flask & Docker
        </div>
    </div>

</body>
</html>
